<div class="list">
    <h1>Lista Medicilor</h1>
    <div *ngIf="doctors.length === 0">
      <p>Se încarcă datele...</p>
    </div>
    <ul *ngIf="doctors.length > 0">
      <li *ngFor="let doctor of doctors">
        <h2>{{ doctor.first_name }} {{ doctor.last_name }}</h2>
        
        <p><strong>Email:</strong> {{ doctor.email }}</p>
        <p><strong>Telefon:</strong> {{ doctor.phone }}</p>

        <div class="schedule">
          <h3>Program: </h3>
          <div *ngIf="doctor.doctorSchedules && doctor.doctorSchedules.length > 0; else noSchedule">
            <ul>
              <li *ngFor="let schedule of doctor.doctorSchedules">
                <p>{{dayMapping[schedule.day_of_week]}}: {{schedule.start_time}}-{{schedule.end_time}}</p>
              </li>
            </ul>
          </div>
          <ng-template #noSchedule>
            <p>Nu exista program disponibil.</p>
          </ng-template>
        </div>

        <div class="medical-services">
          <div *ngIf="doctor.medicalServices && doctor.medicalServices.length > 0; else noMedicalServices">
          <ul>
            <h3>Serviciile medicale oferite de doctor:</h3>
            <li *ngFor="let medicalService of doctor.medicalServices">

              <p>{{medicalService.medicalService.medical_service_name}}</p>
              <p><strong>Pret:</strong> {{medicalService.price}}</p>
            </li>

          </ul>
          </div>
          <ng-template #noMedicalServices>
            <p>Nu exista Servicii medicale pentru acest doctor</p>
          </ng-template>
        </div>
      </li>

    </ul>
  </div>
  