<div class="container mt-4">
    <h1>Adaugă o Clinică</h1>
    <form #clinicForm="ngForm" (ngSubmit)="submitClinic()">
      <div class="form-group">
        <label for="clinic_name">Nume Clinica</label>
        <input type="text" id="clinic_name" [(ngModel)]="clinic.clinic_name" name="clinic_name" class="form-control" required>
      </div>
      <div class="form-group mt-3">
        <label for="clinic_phone">Telefon</label>
        <input type="text" id="clinic_phone" [(ngModel)]="clinic.clinic_phone" name="clinic_phone" class="form-control" required>
      </div>
      <div class="form-group mt-3">
        <label for="clinic_address">Adresă</label>
        <input type="text" id="clinic_address" [(ngModel)]="clinic.clinic_address" name="clinic_address" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-success mt-3">Salvează</button>
    </form>
  </div>
  