<router-outlet #childOutlet="outlet"></router-outlet>

<ng-container *ngIf="!childOutlet.isActivated">
<div class="list">
    <h1>Lista Clinicilor</h1>
    <div *ngIf="clinics.length === 0">
      <p>Se incarca datele...</p>
    </div>
    <ul *ngIf="clinics.length > 0">
      <li *ngFor="let clinic of clinics">
        <h2><a [routerLink]="[clinic.id_clinic]" routerLinkActive="active">
          {{ clinic.clinic_name }}</a></h2>
        <div>
          <button
          class="btn btn-outline-primary me-2"
          (click)="showDoctors(clinic.id_clinic)">
          Vezi doctori
        </button>
        <button
          class="btn btn-outline-secondary me-2"
          (click)="showSpecializations(clinic.id_clinic)">
          Vezi specializari
        </button>
        <button
          class="btn btn-primary"
          [routerLink]="[clinic.id_clinic]" routerLinkActive="active">
          Detalii
        </button>
        </div>

      </li>
    </ul>
    <button class="btn btn-primary mt-3" routerLink="add-clinic">Adaugă Clinică</button>
  </div>
</ng-container>
  