header {
    padding: 10px 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .header-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
  }
  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-secondary {
    width: 100%;
    padding: 20px 0px;
    border-top: 1px solid #ddd;

  }
  .navigation{
    display: flex;
    justify-content: space-evenly;
  }
  .btn {
    color: inherit;
    text-decoration: none;
    margin: 0;
    border: none;
  }
  .btn:hover {
    text-decoration: underline;
  }
  .btn.active{
    border: none;
    background-color: #ebebeb;
    /* background: linear-gradient(200deg, #39e5d4,#22a3d6); */
  }

  .navigation a {
    font-size: 18px;
  }
  
  .dropdown-menu li {
    padding: 0;
    border:0;
  }

  .dropdown-menu li a {
    font-size: 14px;
    text-decoration: none;
  }

  .dropdown .btn:hover,
  .dropdown .btn:active,
  .dropdown .btn:focus {
    text-decoration:none !important;
  }
  
  .dropdown-menu.show {
    max-height: 215px;
    overflow-y: auto;
  }