<ng-container *ngIf="doctor">
  <h2>{{ doctor.first_name }} {{ doctor.last_name }}</h2>
  <!-- <p><strong>Clinica:</strong> {{ clinicName }}</p> -->
  <p><strong>Telefon:</strong> {{ doctor.phone }}</p>
  <p><strong>Email:</strong> {{ doctor.email }}</p>

  <div class="mt-3">
    <button class="btn btn-outline-primary me-2" (click)="toogleSchedule()">
      Program
    </button>
    <button class="btn btn-outline-secondary" (click)="toogleServices()">
      Servicii
    </button>
  </div>

  <div *ngIf="showSchedule && calendarOptions" class="mt-4">
    <h3>Disponibilitate & Slot-uri</h3>
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <div *ngIf="showServices" class="medical-services">
          <div *ngIf="doctor.medicalServices && doctor.medicalServices.length > 0; else noMedicalServices">
          <ul>
            <h3>Serviciile medicale oferite de doctor:</h3>
            <li *ngFor="let medicalService of doctor.medicalServices">
              <p>{{medicalService.medicalService.medical_service_name}}</p>
              <p><strong>Pret:</strong> {{medicalService.price}}</p>
            </li>
          </ul>
          </div>
          <ng-template #noMedicalServices>
            <p>Nu exista Servicii medicale pentru acest doctor</p>
          </ng-template>
        </div>
</ng-container>