<ng-container *ngIf="clinic">
  <h2>{{ clinic.clinic_name }}</h2>
  <p><strong>Adresă:</strong> {{ clinic.clinic_address }}</p>
  <p><strong>Telefon:</strong> {{ clinic.clinic_phone }}</p>

  <div class="mt-3">
    <button class="btn btn-outline-primary me-2" (click)="toogleDoctors()">
      Doctori
    </button>
    <button class="btn btn-outline-secondary" (click)="toogleSpecializations()">
      Specializări
    </button>
  </div>

  <div *ngIf="showDoctors" class="mt-3">
      <div *ngIf="doctors && doctors.length > 0; else noDoctors">
          <h3>Doctori in aceasta clinica:</h3>
          <ul>
            <li *ngFor="let d of doctors">
                {{ d.first_name }} {{ d.last_name }}
            </li>
        </ul>
    </div>

    <ng-template #noDoctors>
        <p>Nu exista doctori disponibili in aceasta clinica.</p>
    </ng-template>
  </div>

  <div *ngIf="showSpecializations" class="mt-3">
      <div *ngIf="specializations && specializations.length > 0; else noSpecializations">

        <h3>Specializări în această clinică</h3>
        <ul>
        <li *ngFor="let s of specializations">
            {{ s.specialization_name }}
        </li>
        </ul>
    </div>
    <ng-template #noSpecializations>
        <p>Nu exista specializari disponibile in aceasta clinica.</p>
    </ng-template>
  </div>
</ng-container>
